body {
  background-image: url("images/background.png");
  text-align:center;
  color:white;
  font: normal 30px Arial;
}
iframe{
  width:600px;
  height:472.5px;
}
p{
  font: normal 15px Arial;
}